<div class="col-xs-6 col-md-4 border border-primary">
  <label>Employee Name: <input #employeeName [(ngModel)]="name" placeholder="Enter Employee Name"> </label>
    <div class="padding-left">
      <h5><u>Dependents</u></h5>
        <ul *ngFor="let person of people; let i = index">
          <li *ngIf="person.status == 'Dependent'">
            {{person.name}}
            <span class="glyphicon glyphicon-remove delete"
            (click)="removeDependent(i)">
            </span>
          </li>
        </ul>
        <div>
      <label>Add Dependent:
        <input #dependentName
        placeholder="Enter Dependent Name">
      </label>
      <button type="button"
      class="btn btn-default btn-sm"
      (click)="addDependent(dependentName.value); dependentName.value=''">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  </div>
 <div class="pull-right">
   <button type="button"
   class="btn btn-default margin"
   (click)="employeeName.value=''; clear()">Clear</button>
   <button type="button"
   class="btn btn-primary margin"
   (click)="submitEmployeeInfo(employeeName.value)">Calculate</button>
 </div>
 <div *ngIf="showWarning"
 class="alert alert-danger"
 role="alert">Oops! Can only have 1 employee entered at a time!
 Click the clear button to start calculations for a new employee</div>
</div>
<!-- cost breakdown -->
<div class="col-xs-6 col-md-6">
  <app-detailed-cost-table
    *ngIf="showTable"
    [people]="people">
  </app-detailed-cost-table>
</div>
